.students{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    .student{
        flex-basis: 48%;
        display: block;
        text-decoration: none;
        margin-bottom: 2rem;
        padding: 1rem;
    }
}